@model TeamBuilder.ViewModels.EditEmployeeViewModel

@{
    ViewBag.Title = "Edit employee";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form" }))
{
    <legend>Edit employee</legend>
    
    <fieldset>
        @Html.EditorFor(x => x, "EditEmployeeViewModel")
    </fieldset>
    
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save changes</button>
        @Html.ActionLink("Cancel", MVC.Employee.Index(), new { @class = "btn" })
    </div>
   
}
