@model TeamBuilder.ViewModels.EditTeamViewModel

@Html.ValidationSummary(true)

<div class="control-group">
    @Html.LabelFor(x => x.Name, new { @class = "control-label" })
    <div class="controls">
        @Html.TextBoxFor(x => x.Name)
        @Html.ValidationMessageFor(x => x.Name)
    </div>
</div>